ul, nav, body, h1, h2, h4, h6, p, figure {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*{
  box-sizing: inherit;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
}

.col3,.col4,.col-12 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.mb-45 {
  margin-bottom: 50px;
}

.mb-p {
    margin-bottom: 25px;
}

.text-success {
  color: #315966;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Arial';
  font-size: 18px;
  background-color: #ccc;
  overflow-x: hidden;
}

.container {
  background-color: #d8eccc;
}

.parallax-window {
  min-height: 450px;
  background: transparent;
  position: relative;
}

.parallax-mirror {
  z-index: 0 !important;
}

.header {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  z-index: 1010;
}

.header-inner {
  padding: 42px 52px;
}

.text-box {
  display: inline-block;
}

.site-title {
  font-size: 2.5rem;
  font-weight: 410;
  margin-bottom: 6px;
}

.site-description {
  font-size: 1.2rem;
  font-weight: 450;
}

.nav {
  text-align: left;
  margin-top: 50px;
}

.nav-ul {
  display: flex;
  justify-content: flex-end;
}

.nav-li {
  list-style: none;
  display: block;
  margin-bottom: 5;
  padding-right: 30px;
  padding-left: 30px;
}

@media (max-width: 991px) {
  .nav-li {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.nav-link {
  color: #FFFFFF;
  text-decoration: none;
  padding-bottom: 5px;
}

.nav-link.active,
.nav-link:hover {
  border-bottom: 1px solid white;
}

.welcome-section {
  margin: 60px auto;
  max-width: 655px;
}

.section-title {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 30px;
}

.gallery {
  margin-bottom: 70px;
}

.gallery-page {
  max-width: 270px;
  margin-left: auto;
  margin-right: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.gallery-description {
  font-size: 1rem;
}

.section,
.container-inner,
.container-inner-2 {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 576px) {
  .gallery-page {
    max-width: 550px;
  }
}
@media (min-width: 778px) {
  .gallery-page,
  .section,
  .container-inner,
  .container-inner-2 {
    max-width: 850px;
  }
}

@media (min-width: 990px) {
  .gallery-page,
  .section {
    max-width: 1121px;
  }
  
  .container-inner {
    max-width: 1121px;
  }
  
  .container-inner-2 {
    max-width: 901px;
  }
}

.gallery-item {
  max-width: 270px;
}

.gallery-img {
  margin-bottom: 15px;
}

.gallery-title {
  font-size: 1.4rem;
  font-weight: 350;
  color: #2F556D;
  margin-bottom: 15px;
}
.gallery-price {
  font-size: 1.25rem;
  color: #004bea;
  margin-bottom: 60px;
}

.paging-links {
  text-align: center;
  margin-bottom: 50px;
}

.paging-item {
  display: inline-block;
  border: 2px solid #2F556D;
  margin: 8px;
}

.paging-link {
  padding: 11px 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: gray;
}

.paging-link.active,.paging-link:hover {
  background-color: #2F556D;
  color: white;
}
.right {
  align-self: flex-end;
}

.footer {
  padding: 25px 15px;
  margin-top: 40px;
}

.btn-right {
  align-self: flex-end;
}


.info-title {
  font-size: 1.7rem;
  font-weight: 309;
  margin-bottom: 20px;
}

address {
  font-style: normal;
  margin-bottom: 20px;
}

.address-box {
  max-width: 100%;
}

.contact-link {
  display: inline-block;
  color: green;
  margin-bottom: 25px;
  text-decoration: none;
}
.map {
  max-width: 895px;
  height: 440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.map iframe {
  width: 100%;
  height: 100%;
}